/* CSS-Style of all profile components*/
.profile-tabs-container {
  width: 80%;
  margin: auto;
}

.profile-tabs {
  display: flex;
  justify-content: space-around;
  background-color: #f0f0f0;
  padding: 10px;
}

.profile-tab {
  background: none;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.profile-tab.active {
  border-bottom: 2px solid #bf360c;
}

.profile-content {
  margin-top: 20px;
}
.bottom-height {
  height: 300px;
}

.bottom-height-fav {
  height: 600px;
}
